{% extends "base.html" %}
{% block title %} Madlids {% endblock %}
{% block heading %} Madlids {% endblock %}
{% block body %}
<form action="/story">
    <p>
        Place:
        <input type="text" required name="place">
    </p>
    <p>
        Noun:
        <input type="text" required name="noun">
    </p>
    <p>
        Verb
        <input type="text" required name="verb">
    </p>
    <p>
        Adjective
        <input type="text" required name="adjective">
    </p>
    <p>
        Plural Noun
        <input type="text" required name="plural_noun">
    </p>
    <button>Submit</button>
</form>
{% endblock %}